@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.otf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("./fonts/Poppins/Poppins-SemiBold.otf");
}

* {
  font-family: Poppins;
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0;
}
